@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import './../../styles/theme.scss';
@import './../../styles/globals.scss';

.Home {

  .mainGrid {
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    animation: all 0.5s ease-in-out;
    @media #{$lt-md} {
      grid-template-columns: 60% 40%;
    }
    @media #{$gt-sm} {
      grid-template-columns: 40% 60%;
    }
  }

  .message {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    color: $ui-color;

    .text {
      text-align: center;
      font-size: 2.5em;

      &.big {
        font-weight: 600;
        @media #{$gt-sm} {
          margin-bottom: 0.5em;
        }
      }

      &.small {
        font-size: 1.5em;
      }
    }
  }

  .button {

    @extend .Globals-clickable;
    @extend .Globals-noselect;
    display: grid;
    align-self: center;
    justify-self: center;
    align-items: center;

    height: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin: 1em;
    border: solid 2px gray;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: $ui-color-lighter;

    @media #{$lt-sm} {
      width: 85%;
    }
    @media #{$gt-xs} {
      width: 14em;
    }

    @include animation-ease(0.3s);
    &:hover {
      box-shadow: inset 0 0 0 2px $ui-color-lighter;
      color: $ui-color-darker;
      @include animation-ease(0.3s);
    }
    &:active {
      color: #5f5f5f;
      @include animation-ease(0.2s);
    }
  }

  .slideShow {
    width:100%;
    height:100vh;
    background-color: $ui-color-lighter;
  }

  .fillPage {
    min-height: 100%;
  }
}