@import './../../styles/breakpoints.scss';
@import './../../styles/mixins.scss';
@import './../../styles/theme.scss';
@import './../../styles/globals.scss';

.Gallery {

  .footer {
    margin-top: 6em;
    height: 10em;
    text-align: center;
    font-size: 0.8em;
    color: $ui-color;

    hr {
      max-width: 80%;
      @media #{$lt-sm} {
        width: 80%;
      }

      @media #{$gt-md} {
        max-width: 900px;
      }
    }

    a {
      color: black;
    }
  }

  .header {
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 3em;
    color: $ui-color;
    text-align: center;
    @media #{$lt-sm} {
      font-size: 2.5em;
    }
    @media #{$gt-md} {
      font-size: 3em;
    }
    hr {
      max-width: 80%;
      @media #{$lt-sm} {
        width: 80%;
      }

      @media #{$gt-md} {
        max-width: 900px;
      }
    }
  }

  .imageContainer {
    @include fade-in(1s);
    @include animation-ease(0.2s);
    background-color: $background-color-lighter;
    @extend .Globals-clickable;
    @extend .Globals-noselect;

    @media #{$lt-md} {
      width:100%;
      padding: 0;
      margin: 0;
    }
    @media #{$gt-sm} {
      max-width: 800px;
      border: 1px solid $ui-color-lighter;
      padding: 2.5em;
      margin-top: 1em;
      margin-bottom: 1em;
      &:hover {
        box-shadow: inset 0 0 0 1px $ui-color-lightest;
        @include animation-ease(0.2s);
      }
    }

    @media #{$gt-md} {
      max-width: 900px;
    }

    img {
      width: 100%;
      height:auto;
    }
  }

  .gridWrapperr {
    display: grid;
    align-items: start;
    justify-items: center;
  }

  .description {
    color: $ui-color;
    font-size: 1.5em;
    display: grid;
    justify-content: center;
    text-align: justify;

    @media #{$lt-sm} {
      padding-left: 0;
      padding-right: 0;
    }

    h1 {
      text-align: center;
      margin-bottom: 1em;
    }
    h2 {
      text-align: center;
      margin-bottom: 1em;
    }

    img {
      border: solid 3px dimgray;
      display: block;
      margin: 0 auto;
    }

    a {
      color: black;
    }

    div {
      text-align: center;
      padding-bottom: 2em;
      padding-top: 2em;
      line-height: 2em;
    }
  }

  .gridMiddleCentered {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: start;
    justify-items: center;
    justify-self: center;
    @include animation-ease(1s);
    @media #{$lt-sm} {
      width: 100%
    }
    @media #{$gt-xs} {
      width: 100%;
      max-width: 900px;
    }
    @media #{$gt-md} {
      width: 100%;
      max-width: 1200px;
    }
  }

  .galleryGrid {
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    @media #{$lt-sm} {
      grid-template-columns: 70% 30%;
    }
    @media #{$gt-xs} {
      grid-template-columns: 30% 70%;
    }
  }
}
