@import './../../styles/breakpoints.scss';
@import './../../styles/mixins.scss';

.DoubleViewContainer {
  .topView {
    transition: all 0.4s ease-in-out;
    background-color: rgb(220,220,220);
  }

  .bottomView {
    transition: all 0.4s ease-in-out;
    background-color: whitesmoke;

    .transitionZone {
      padding-top: 5em;
      background-color: rgb(220,220,220);
    }
  }
}