@import './../../styles/breakpoints.scss';
@import './../../styles/mixins.scss';
@import './../../styles/theme.scss';

.DoubleViewContainer {
  .topView {
    transition: all 0.4s ease-in-out;
    background-color: $background-color-lighter;
  }

  .bottomView {
    transition: all 0.4s ease-in-out;
    background-color: whitesmoke;

    .transitionZone {
      padding-top: 2em;
      background-color: $background-color-lighter;
    }
  }
}